<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newdevoured="{{devour}}">
        {{#if devoured}}PUKE!{{else}}EAT ME!{{/if}}
    </button>

    <button class="delete-burgeregrub" data-id="{{id}}">Throw Away</button>
</li>